@use 'src/index' as base;

.section {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.section-title {
    text-align: start;
    font: base.$subtitle-22bold;

    @include base.tablet {
        text-align: center;
    }
}

.section-title-days {
    color: base.$primary;   
}

.collection-list {
    @include base.tablet {
        display: grid;
        grid-auto-flow: column;
        grid-template-rows: repeat(5, 1fr);
    }
}

.collection-list-item {
    display: flex;
    height: 5.5rem;
    padding: 1rem;
}

.collection-list-item-data {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-grow: 1;
    border-block-end: 1px solid base.$soft-grey;
}

.title-price-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .25rem;
    flex-grow: 1;
}

.title, .position, .price {
    font: base.$body-16bold;
}

.price {
    color: base.$grey;
}

.percentage {
    font: base.$body-16regular;
    color: base.$green;
    flex-grow: 1;
    text-align: end;
}

.price-container {
    display: flex;
    align-items: center;
}