@use 'src/index' as *;

.button {
    background-color: $primary;
    color: $white;
    border-radius: .75rem;
    border: 1px solid $primary;
    font: $body-16bold;
    padding-block: 0.875rem;
    padding-inline: 2rem;
    cursor: pointer;
    transition: ease-in-out .1s;

    &:hover {
        transform: scale(1.05);
    }
}

.button-secondary {
    background-color: $white;
    color: $primary;
}

.button-transparent {
    background-color: rgba(0, 0, 0, 0);
    color: $white;
    border: 1px solid black;
}