@use 'src/index' as base;

.wrapper-layout {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    position: relative;
    max-width: 1200px;
    margin: auto;

    @include base.small-tablet {
        padding: 2rem;
    }

    @include base.tablet {
        padding: 4rem;
    }
}