@use 'src/index' as base;

.highlight-section-container {
    display: flex;
    flex-shrink: 1;
    flex-wrap: wrap;
}

.highlight-section {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    flex-grow: 1;
    align-items: center;
    
    @include base.tablet {
        gap: 8rem;
    }
}

.highlight-container {
    max-width: 34rem;
    border-radius: .5rem;
    -webkit-box-shadow: base.$box-shadow;
    box-shadow: base.$box-shadow;
    overflow: hidden;
    flex-grow: 1;
    flex-shrink: 13;
}

.footer {
    display: flex;
    gap: .5rem;
    padding: 1rem;
    background-color: base.$white;
}

.title {
    font: base.$body-16bold;
}

.artist-name {
    font: base.$body-14regular;
    color: base.$primary;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: .25rem;
}

.background-image-container {
    position: absolute;
    width: 100%;
    overflow: hidden;
}

.background-image {
    height: 42rem;
    background-image: url('../../images/highlight/tiny-dancer.png');
    background-size: cover;
    background-color: base.$white;
    background-position: center center;
    opacity: .2;
    overflow: hidden;
    mask: linear-gradient(rgb(255, 255, 255), transparent);

    @include base.small-tablet {
        height: 50.5rem;
    }

    @include base.tablet {
        height: 39rem;
    }
}

