@use 'src/index' as base;

.explore {
    max-width: 30rem;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 1.75rem;
}

.title {
    font: base.$title-32bold;
    margin: 0;
}

.subtitle {
    font: base.$subtitle-22medium;
    margin: 0;
}

.link {
    display: flex;
    flex-grow: 1;
    text-decoration: none;
    gap: 1rem;

    @include base.small-tablet {
        gap: 2rem;
    }
}

.button {
    flex-grow: 1;
    max-width: 10rem;
    flex-wrap: wrap;

    @include base.small-tablet {
        width: 10rem;
    }
}
