@use 'src/index' as base;

.tab-pane {
    display: flex;
    list-style: none;
    gap: 2rem;
    flex-wrap: nowrap;
    overflow: hidden;
    width: 1200px;
    white-space: nowrap;

    @include base.scrollbar;

    &:hover {
        overflow: scroll;
        
        
    }
}