@use 'src/index' as base;

.tab-pane {
    display: flex;
    list-style: none;
    gap: 1rem;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow: scroll;

    @include base.scrollbar;

    &:hover {
        overflow: scroll;       
    }
}