@use 'src/index' as base;

.container {
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    margin: auto;

    @include base.small-tablet {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 1fr;
    }

    @include base.tablet {
        grid-template-columns: repeat(3, 1fr);
    }
}